body {
  margin-top: 50px;
  padding-top: 50px;
}

.spacer-200 {
  padding-top: 200px;
}

.panel-padded {
  padding: 15px;
}

.nav-pills.nav-stacked {
  border: 1px solid #eee;
}

.nav-pills.nav-stacked li {
  border-bottom: 1px solid #eee;
  margin-top: -2px;
}

* {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 10px;
}

@media(max-width: 992px) {
  .no-padding-xs {
    padding: 0 !important;
  }
}