{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
  <div class="spacer-200 visible-md visible-lg"></div>
  <form class="form-horizontal panel panel-default panel-padded col-md-6 col-md-offset-3 col-sm-12 col-xs-12"
      method="POST" action="{% url 'register' %}">
    {% csrf_token %}
    {{errors}}
    <div class="columns">
      <div class="form-group">
        <label for="username" class="col-sm-4 control-label">Username</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="col-sm-4 control-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-4 control-label">Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
        </div>
      </div>
      <div class="form-group">
        <label for="password2" class="col-sm-4 control-label">Confirm Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password2" name="password2" placeholder="Password" onkeyup="checkPass(); return false;" required>
        </div>
      </div>
      <button id="submit" disabled type="submit" class="btn btn-success btn-block">Register</button>
    </div>
  </form>
</div>
{% endblock %}

{% block foot_extras %}
<script>
function checkPass()
{
    var pass1 = document.getElementById('password');
    var pass2 = document.getElementById('password2');
    var btn = document.getElementById('submit');
    //Set the colors we will be using ...
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(pass1.value == pass2.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        pass2.style.borderColor = goodColor;
        btn.disabled = false;

    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.borderColor = badColor;
        btn.disabled = true;
    }
}
</script>
{% endblock %}